*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #615b5b;
}
.container{
    width: 80%;
    min-height: 100vh;
    padding: 20px;
    background: #000;
    margin: auto;
}
.empty-todo{
    display: none;
}
.container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.todo{
    background: white;
    /* margin: 100px auto 20px; */
    padding: 40px 30px 70px;
    border-radius: 15px;
    height: 20rem;
}
.todo h2{
    color: purple;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background: #d2ddef;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 40px;
    color: white;
    background: rgb(222, 23, 23);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url(non.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(yes.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
#addGroup{
    position: fixed;
    right: 0;
    top: -5rem;
    z-index: 50;
}

.ad{
    margin: auto;
    width: 50%;
    height: 15rem;
    background: #261053;
}
.ad p{
    color: white;
    font-size: 5rem;
    word-wrap: break-word;
    
}